# Arquivos de Build do Gradle
.gradle/
build/
captures/

# Configurações do Android Studio (específicas da máquina local)
.idea/
*.iml
*.ipr
*.iws

# Arquivos locais e segredos
local.properties
.DS_Store

# Logs e arquivos temporários
*.log
captures/

# Testes e cobertura
.externalNativeBuild/
.cxx/
cp_no_step_heap.bin